@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  margin:0;
  padding:0 40px;
  background-color: #51587b;
  color: #fff;
}

.header-contents{
	float:right;
}

.header-contents form{
	margin-top:25px;
}

.top-button{
  width:90px;
  height: 30px;
  background-color: white;
  color: #51587b;
  border: 2px solid white; 
  border-radius: 8px;
  cursor: pointer;
}

.top-button:hover {
  animation: colorChange 0.5s;
  animation-fill-mode: forwards;
}

@keyframes colorChange {
  0% {
    background-color: white;
    color:#51587b;
  }
  5%{
	color:#51587b;
  }
  85%{
	background-color:#51587b;
  }
  100% {
    background-color:#51587b;
    color:white;
    font-weight:bold;
  }
}

header > h1{
	float:left;
	text-align: center;
}	

/*main部分のCSS*/
main {
  margin: 80px 300px 200px 300px;
  height:auto;
  background-color: #fff;
}

.font{
	font-size: 18px;
}

.text-content {
  border: 1px solid rgb(192, 192, 192);
  width: 95%;
  padding: 10px;
  margin-left:20px;
  height: auto;
  word-wrap: break-word; /* 長い単語を折り返す */
  white-space: pre-wrap; /* 改行を維持 */
}

.text-content p {
  margin: 0;
}



.submit-button {
  margin-top: 20px;
}

.button {
  /* ボタンのスタイル */
  display: block;
  margin:0 auto;
  flex: 1;
  font-size: 15px;
  width: 180px;
  height: 50px;
  position: relative;
  background-color: white;
  color: #51587b;
  border: 2px solid #51587b; 
  border-radius: 8px;
}

.button:hover {
  animation: fontChange 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}


@keyframes fontChange {
  0% {
    background-color: white;
    color:#51587b;
  }
  5%{
	color:#51587b;
  }
  85%{
	background-color:#51587b;
  }
  100% {
    background-color:#51587b;
    color:white;
    font-weight:bold;
  }
}


footer {
  background-color: #51587b;
  color: #fff;
  padding: 10px;
  text-align: center;
}

